body{
    background-color: black;
    background-image: url('https://t3.ftcdn.net/jpg/04/04/07/82/360_F_404078200_OUC5gt2Fx2LRLVjVKRI48WCSCiUXVTKj.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
  }
  
  html {
    color: white;
    height: 100%;
    width: 100%;
  }
  
  .escondido {
    display: none;
  }

  #fieldQ{
    position: absolute;
    width: 250px;
    height: 245px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
  }
  
  #meuform{
    position: relative;
    top: 45%;
    left: 60%;
    
    transform: translateY(-50%) translateX(-50%);
    color: #ffffff;
    
  }
  #legenda{
    font-size: 19px;
  }
  #enviar{
    position: absolute;
    width: 100px;
    left: 50%;
    background: rgba(236, 227, 64, 0.8);
    border: 3px solid #000000;
    border-radius: 237.97px;
    cursor: pointer;
  }
  button.addMore{
    position: absolute;
    left: -10%;
    top: -10%;
    background: #d2d2d2;
    height: 18px;
    width: 18px;
    text-align: center;
    line-height: 1;
    color: black;
    font-weight: bold;
    border-radius: 80%;
    cursor: pointer;
    pointer-events: visibleStroke;
    overflow: hidden;
    }
  button.addMore:hover{
    overflow: visible;
    transition-duration: 15s ;
  }
  
  .secao-resposta img {
    width: 30%;
  }
  
  #fieldA{
    position: relative;
    width: 90%;
    height: 100%;
    align-content: center;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
  }
  .secao-resposta h3 {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 350px;
    font-size: 90%;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    text-align: center;
    font-weight: bold;
    
  }
  @media (max-width: 800px){
    .secao-resposta img {
      width: 50%;
      left: 100%;
      display: block;
      margin: 1.0em auto;
      text-align: center;
    }
    .secao-resposta h3 { 
    position: relative;
    width: 80%;
    left: 0%;
    font-size: 90%; 
    display: block;
    margin: 1.0em auto;
    text-align: center;
    }
    
  }